@import url('@/app/globals.css');

.wallet-logs-div{
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: var(--tg-theme-secondary-bg-color);
}

.wallet-log-cart{
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: var(--tg-theme-section-bg-color);
}

.deposit{
    color: var(--tg-theme-section-header-text-color);
}

.withdraw{
    color: var(--tg-theme-destructive-text-color);
}