@import url('@/app/globals.css');

.proxy-field{
    padding: 10px;
}

.qr-code{
    width: 100%;
}

.subscription-url-copy{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.username{
    font-size: x-large;
}

.online-bg{
    height: min-content;
}