.yarim-section {
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    background-color: var(--tg-theme-section-bg-color);
}

.description{
    font-size: 14px;
    align-self: self-end;
}