@import url('@/app/globals.css');

.add-panel-button {
    margin: 5px;
}

.add-button {
    align-self: self-end;
}

.add-panel-field-div {
    padding: 5px;
}

.panel-field {
    margin-bottom: 10px;
}